<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./../css/main.css">
    <script src="./../js/main.js" type="module"  defer></script>
    <link rel="stylesheet" href="./../css/featuredCard.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    </head>
    
    <body>
        <div class="preloader">
            <h2 data-text="ABA_ESTATES" class="logo">ABA_ESTATES</h2>
        </div>
        <!-- header -->
        <header class="header">
            <div class="header-content">
                <i class='fa-solid fa-house'></i>
                <a class="logo">ABA Real Estates</a>
            </div>
            <label class="icons" for="check">
                <i class='fa-solid fa-bars' id="menu-icon"></i>
                <i class='fa-solid fa-xmark' id="close-icon"></i>
            </label>
            <nav class="navbar">
                <ul class="nav-list">
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Services">Services</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <div class="page1">
                <div class="left">
                    <h1>
                        Find A <span>Perfect Home</span> To Live With Your Family
                    </h1>
                    <h4>Uncover a world of endless possibilities as you search for a place where comfort meets elegance.
                        Start your quest for the ultimate family sanctuary today.</h4>
    
                    <div class="searchAndFilters">
    
                        <div class="rentBuyButtons">
                            <input type="radio" id="rent" name="toggle" class="toggle-input" checked>
                            <label for="rent" class="toggle-btn" id="rentBtn">Rent</label>
    
                            <input type="radio" id="buy" name="toggle" class="toggle-input">
                            <label for="buy" class="toggle-btn" id="buyBtn">Buy</label>
    
                            <button class="searchButton">Search!</button>
                        </div>
    
                        <form>
                            <div class="searchBar">
                                <span class="search-icon material-symbols-outlined">search</span>
                                <input class="search-input" type="search" placeholder="search">
                            </div>
                            <div class="result_box">
                            </div>
                        </form>
    
                        <div class="city">
                            <div class="filterLabels">
                                City
                            </div>
                            <select id="city">
                                <option value="option1" selected>Karachi</option>
                                <option value="option2">Lahore</option>
                                <option value="option3">Islamabad</option>
                                <option value="option4">Rawalpindi</option>
                                <option value="option5">Faisalabad</option>
                            </select>
                        </div>
    
                        <div class="filters">
    
                            <div class="propertyType allFilters">
                                <div class="propertyType filterLabels">
                                    Property Type
                                </div>
                                <select id="property">
                                    <option value="option1" selected>House</option>
                                    <option value="option2">Flat</option>
                                    <option value="option3">Upper Portion</option>
                                    <option value="option4">Lower Portion</option>
                                    <option value="option5">Penthouse</option>
                                </select>
                            </div>
    
                            <div class="price allFilters">
                                <div class="priceRange filterLabels">
                                    Price Range (pkr)
                                </div>
    
                                <div class="priceAreaSelects">
                                    <select class="minRange" id="min_ran">
                                        <option value="" selected>Select an option</option>
                                        <option value="option1">20 lac</option>
                                        <option value="option2">40 lac</option>
                                        <option value="option3">60 lac</option>
                                        <option value="option4">80 lac</option>
                                        <option value="option5">1 crore</option>
                                        <option value="option6">2 crore</option>
                                        <option value="option7">4 crore</option>
                                        <option value="option8">6 crore</option>
                                        <option value="option9">8 crore</option>
                                        <option value="option10">10 crore</option>
                                        <option value="option11">12 crore</option>
                                        <option value="option12">14 crore</option>
                                        <option value="option13">16+ crore</option>
                                    </select>
                                    <p>to</p>
                                    <select class="maxRange" id="max_ran">
                                        <option value="" selected>Select an option</option>
                                        <option value="option1">20 lac</option>
                                        <option value="option2">40 lac</option>
                                        <option value="option3">60 lac</option>
                                        <option value="option4">80 lac</option>
                                        <option value="option5">1 crore</option>
                                        <option value="option6">2 crore</option>
                                        <option value="option7">4 crore</option>
                                        <option value="option8">6 crore</option>
                                        <option value="option9">8 crore</option>
                                        <option value="option10">10 crore</option>
                                        <option value="option11">12 crore</option>
                                        <option value="option12">14 crore</option>
                                        <option value="option13">16+ crore</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="area allFilters">
                                <div class="Area filterLabels">
                                    Area Range (marla)
                                </div>
    
                                <div class="priceAreaSelects">
    
                                    <select class="minRange" id="min_area">
                                        <option value="" selected>Select an option</option>
                                        <option value="option1">1</option>
                                        <option value="option2">2</option>
                                        <option value="option3">4</option>
                                        <option value="option4">6</option>
                                        <option value="option5">8</option>
                                        <option value="option6">10</option>
                                        <option value="option7">12</option>
                                        <option value="option8">14</option>
                                        <option value="option9">16</option>
                                        <option value="option10">18</option>
                                        <option value="option11">20</option>
                                        <option value="option12">22</option>
                                        <option value="option13">24</option>
                                        <option value="option14">26</option>
                                        <option value="option15">28</option>
                                        <option value="option16">30</option>
                                        <option value="option17">30+</option>
                                    </select>
                                    <p>to</p>
    
                                    <select class="maxRange" id="max_area">
                                        <option value="" selected>Select an option</option>
                                        <option value="option1">1</option>
                                        <option value="option2">2</option>
                                        <option value="option3">4</option>
                                        <option value="option4">6</option>
                                        <option value="option5">8</option>
                                        <option value="option6">10</option>
                                        <option value="option7">12</option>
                                        <option value="option8">14</option>
                                        <option value="option9">16</option>
                                        <option value="option10">18</option>
                                        <option value="option11">20</option>
                                        <option value="option12">22</option>
                                        <option value="option13">24</option>
                                        <option value="option14">26</option>
                                        <option value="option15">28</option>
                                        <option value="option16">30</option>
                                        <option value="option17">30+</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="beds allFilters">
                                <div class="beds filterLabels">
                                    Beds
                                </div>
                                <select id="beds">
                                    <option value="" selected>Select an option</option>
                                    <option value="option1">1-2</option>
                                    <option value="option2">3-4</option>
                                    <option value="option3">5-6</option>
                                    <option value="option4">7-8</option>
                                    <option value="option5">9-10</option>
                                    <option value="option6">11-12</option>
                                    <option value="option7">13-13+</option>
                                </select>
                            </div>
    
                        </div>
    
    
    
                    </div>
    
                </div>
                <div class="right">
                    <img src="" id="images">
                </div>
            </div>
    
    
    
    
    
            <div class="middleSection">
    
    
                <div class="featured middleSections">
                    <h1 class="featuredHeading cardContainerHeading">Featured</h1>
    
                    <div class="CardsContainer">
                        <div class="swiper card_slider">
                            <div class="swiper-wrapper">
                                <!-- <div class="swiper-slide">
                                    <div class="featuredCard">
                                        <div class="img">
                                            <img src="https://media.zameen.com/thumbnails/225048243-800x600.webp" alt="">
                                        </div>
                
                                        <div class="text">
                                            <div class="price">PKR 5.6 Crore</div>
                                            <div class="location">Johar Town, Lahore</div>
                                            <div class="saleRent">House for Sale</div>
                                            <div class="bedBathArea">
                                                <div class="bedrooms"><img src="./../icons/bedroomicon.svg" alt="">
                                                </div>
                                                <p>2</p>
                                                <div class="bathrooms"><img src="./../icons/bathroomicon.svg" alt=""></div>
                                                <p>3</p>
                                                <div class="area"><img src="./../icons/areaicon.svg" alt=""></div>
                                                <p>4</p>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
     -->
                                
    
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            
                        </div>
    
                        
                    </div>
    
                </div>
    
                <div class="forSale middleSections">
                    <h1 class="forSaleHeading cardContainerHeading">For sale</h1>
                    <div class="CardsContainer">
                        <div class="swiper card_slider">
                            <div class="swiper-wrapper">
                                <!-- <div class="swiper-slide">
                                    <div class="featuredCard">
                                        <div class="img">
                                            <img src="https://media.zameen.com/thumbnails/225048243-800x600.webp" alt="">
                                        </div>
                
                                        <div class="text">
                                            <div class="price">PKR 5.6 Crore</div>
                                            <div class="location">Johar Town, Lahore</div>
                                            <div class="saleRent">House for Sale</div>
                                            <div class="bedBathArea">
                                                <div class="bedrooms"><img src="./../icons/bedroomicon.svg" alt="">
                                                </div>
                                                <p>2</p>
                                                <div class="bathrooms"><img src="./../icons/bathroomicon.svg" alt=""></div>
                                                <p>3</p>
                                                <div class="area"><img src="./../icons/areaicon.svg" alt=""></div>
                                                <p>4</p>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div> -->
    
                                
    
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            
                        </div>
    
                        
                    </div>
                </div>
    
                <div class="forRent middleSections">
                    <h1 class="forRentHeading cardContainerHeading">For Rent</h1>
                    <div class="CardsContainer">
                        <div class="swiper card_slider">
                            <div class="swiper-wrapper">
                                <!-- <div class="swiper-slide">
                                    <div class="featuredCard">
                                        <div class="img">
                                            <img src="https://media.zameen.com/thumbnails/225048243-800x600.webp" alt="">
                                        </div>
                
                                        <div class="text">
                                            <div class="price">PKR 5.6 Crore</div>
                                            <div class="location">Johar Town, Lahore</div>
                                            <div class="saleRent">House for Sale</div>
                                            <div class="bedBathArea">
                                                <div class="bedrooms"><img src="./../icons/bedroomicon.svg" alt="">
                                                </div>
                                                <p>2</p>
                                                <div class="bathrooms"><img src="./../icons/bathroomicon.svg" alt=""></div>
                                                <p>3</p>
                                                <div class="area"><img src="./../icons/areaicon.svg" alt=""></div>
                                                <p>4</p>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div> -->
    
                                
    
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            
                        </div>
    
                        
                    </div>
                </div>
    
    
    
            </div>
    
    
    
        </main>
        <!-- footer -->
        <footer class="foooter">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Our services</a></li>
                            <li><a href="">Help & Support</a></li>
                            <li><a href="">Terms Of Use</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Contact us</h4>
                        <ul>
                            <li><a href="">Add Property</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">FAQs</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Quick links</h4>
                        <ul>
                            <li><a href="">Projects in Karachi</a></li>
                            <li><a href="">Projects in Lahore</a></li>
                            <li><a href="">Projects in Islamabad</a></li>
                            <li><a href="">Projects in Peshawar</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Follow us</h4>
                        <div class="social-links">
                            <a href=""><img src="./../icons/facebook.png" alt=""></i></a>
                            <a href=""><img src="./../icons/instagram.png" alt=""></a>
                            <a href=""><img src="./../icons/twitter.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <p>© Copyright 2024 ABA Real Estates. All Rights Reserved</p>
        </footer>
    
        <script>
            var swiper = new Swiper(".card_slider", {
              slidesPerView: 5,
              spaceBetween: 30,
            //   pagination: {
            //     el: ".swiper-pagination",
            //     clickable: true,
                
            //   },
              navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
            });
          </script>
    </body>
    
    </html>